
// These are the class/styles used by various objects in GanttChart.  However, Firefox has problems deciphering class style when DIVs are embedded in other DIVs.

div.scrollLeft { 
  border: #c0c0c0 1px solid; 
  padding: 0px; 
  margin: 0px;
  overflow: hidden;
  background-color: #ffffff; 
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
}

div.scrollRight { 
  position:relative; 
  padding: 0px; 
  overflow:auto ;
  overflow-x:scroll;
  overflow-y:hidden; 
  background-color: #dddddd;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}

.ganttDetail, .ganttExpandOpened, .ganttExpandClosed {
	height: 20px;
}
.ganttHeight {
  height: 20px;
}

.ganttLeftTitle, .ganttRightSubTitle, .gantHeightLeftTitle,
.ganttLeftTopLine, .ganttRightTitle {
  height: 20px;
}

.ganttLeftTopLine {
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  padding: 0px; margin: 0px;
}

.ganttTable {
  padding: 0px; margin: 0px;
  text-align: left;
  font-weight: normal;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  vertical-align: top;
}

.ganttLeftTitle, .ganttRightTitle {
  vertical-align: center; 
  text-align: center;
  font-weight: bold;
  background-color:#aaaaaa;
  color: #ffffff;
  padding: 0px; margin: 0px;
  border-left: #efefef 1px solid;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
}

.ganttRightSubTitle {
  vertical-align: center; 
  text-align: center;
  font-weight: normal;
  background-color:#e0e0e0;
  color: #000000;
  padding: 0px; margin: 0px;
  /*border-top: #c0c0c0 1px solid;*/
  border-left: #eeeeee 1px solid;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
}

.ganttTaskrow {
  padding: 0px; margin: 0px;
  background-color: #ffffff;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
}

.ganttTaskrowBar {
   height: 13px; 
   cursor: pointer;
   opacity:0.9;
   filter: alpha(opacity=90);
}

.ganttTaskrowBarComplete { 
  background-color:#000000; 
  height:5px; 
  overflow: hidden; 
  margin-top:4px;
  opacity:0.8; 
  filter: alpha(opacity=80);
  z-index: -4; 
  float:left; 
}


.ganttTaskgroup {
  padding: 0px; margin: 0px;
  font-weight: bold;
  background-color: #f3f3f3;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  border-color: #F6F6F6 #ACACAC #ACACAC #F6F6F6;
  background: #E8E8E8 ;
}

.ganttTaskgroupBar { 
  background-color:#505050; 
  text-align:center;
  height: 7px;
  cursor: pointer;
  opacity:0.9; 
}

.ganttTaskgroupBarExt { 
  Z-INDEX: -4; 
  background-color:#505050; 
  overflow: hidden; 
  width:1px
}

.ganttTaskgroupBarText { 
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  position:absolute; 
  top:-3px; 
  width:120px; 
}

.ganttTaskmile {
  padding: 0px; margin: 0px;
  font-weight: light;
  font-style:italic;
  background-color: #ffffff;
  font-family: Verdana, Arial, Tahoma, sans-serif;
}


.ganttName { 
  border-top: #c0c0c0 1px solid;
  font-size: 90%;      
  padding: 0px; margin: 0px;
  z-index: 0;
}

.hideLeftPartrow, .hideLeftPartmile {
  z-index: 999;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  
}
.hideLeftPartgroup {
  z-index: 999;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
.namePartrow, .namePartmile {
  z-index: -999;
  display: inline-block;
  width: 99%;
  cursor: pointer;
}
.namePartgroup {
  z-index: -999;
  display: inline-block;
  width: 99%;
  cursor: pointer;
}

.ganttDetail {
  border-top: #c0c0c0 1px solid;
  font-size: 90%;  
  padding: 0px; margin: 0px;
  z-index: 10;   
}

.ganttDetailNoborder {
  border-top: #c0c0c0 1px solid;
  font-size: 90%;  
  padding: 0px; margin: 0px;
  z-index: 10;   
}
.ganttDetail, .ganttDetailBoderleft {
  border-left: #dddddd 1px solid;
}
.ganttDetailBoderleft, .ganttSubDetailNoborder  {
  font-size: 5%;  
  padding: 0px; margin: 0px;     
}
.ganttDetailNoborder {

}
.ganttExpandOpened {
  background-image: url(images/minus.gif);  background-repeat: no-repeat;
  cursor: pointer;
}
  
.ganttExpandClosed {
  background-image: url(images/plus.gif);  background-repeat: no-repeat;
  cursor: pointer;
}

.ganttSep {
  width: 16px;
  font-size: 90%;
  font-weight: normal;
  font-style: normal; 
}
