/* ============================================================================
 * Main css styles for Printing purpose.
 * ============================================================================
 */

/* Imports ==================================================================== */

/* Main structure objects ===================================================== */

html, body {
  height: 100%; width: 100%; 
  border: 0; margin: 0px; padding: 0px;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  text-decoration: none;
  text-align: left;
  vertical-align: top;
}

/* Specific attributes on common nodes ======================================== */

table {
  border-collapse: collapse; border: 0px;
  /* border: 1px solid #FF0000; /* padding: 3px !important; margin: 3px !important; /* for debug purpose */
}

tr {
   /*border: 2px solid #0000FF;  padding: 3px !important; margin: 3px !important; /* for debug purpose */
}

td {
  margin: px; padding: 4px; cellspacing: 0; cellpadding: 0px;
  border: collapse; border: 0px;
  /* border: 1px solid #00FF00; /* padding: 3px !important; margin: 3px !important; /* for debug purpose */
}

th {
  border: 1px solid #555555;
  background-color: #DDDDDD; 
  margin: 2px; 
}

.tdListPrint {
  border: 1px solid #555555;
  background-color: #FFFFFF; 
  margin: 0px; padding: 1px 3px 1px 3px; 
}

a {
 text-decoration: none; 
}

label, .label {
  font-weight: normal;
  text-align: right; vertical-align: top;
  width: 135px;
  padding: 2px;
  float:left;
  border: 0px solid white;
}

/* Specific classes =========================================================== */

.input {
  font-weight: normal;
  color: #000;
  width: 400px;
  margin: 1px; padding: 0px;
  border: 1px solid #b3b3b3;
  line-height: normal;
}

.display {
  background-image: url(images/noimage.png);
  background-repeat: no-repeat;
  font-weight: normal;
  color: #000;
  text-align: left;
  width: 400px;
  margin: 1px; padding: 0px; 
}

.detail {
  width: 1px;
}

.tabLabel {
  font-weight: normal;
  text-align: center;
  border: none; padding: 0px; spacing: 0px;
  width: 80px;
  background-color: #555555;
}

.colorSelector {
  background-image: url(images/colorSelector.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
}

.colorDisplay {
  background-image: url(images/noimage.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
}

.checkBox {
  background-image: url(images/checkmark.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0px;
  margin: 0 2px 0 0;
  padding: 0;
}

.filterField {
  color: #555555;
}

.crossTable {
  border: 0px solid black;
}
.crossTableHeader {
 border: 0px solid blue;
 witdh: 100px;
 text-align: center;
}
.crossTableLine {
  border: 0px solid red;
  text-align: right;
  height: 30px;
}
.crossTablePivot {
  border: 0px solid green;
  text-align: center;
}

.section {
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.historyHeader, .noteHeader, .attachementHeader, .messageHeader, .linkHeader, .assignHeader, 
.dependencyHeader, .workflowHeader, .filterHeader {
  border: 1px solid #AAAAAA;
  text-align: center;
  font-weight: bold;
  background: #DDDDDD;
}
.workflowHeader {
  font-size: 90%; padding: 0; 
}

.historyData, .noteData, .attachementData, .messageData, .messageDataValue, .linkData, .assignData, 
.dependencyData, .workflowData, .filterData {
  font-size: 90%;
  padding: 1px 5px 1px 5px;
  border: 1px solid #AAAAAA;
  vertical-align: top;
  background-color: #FFFFFF;
}

.workflowData {
  font-size: 80%; padding: 0; margin 0;
}
.workflowDetail {
  border-top: 1px solid #D0D0D0; 
}

.historyDataNewOperation {
  font-size: 90%;
  padding: 1px 5px 1px 5px;
  vertical-align: top;
  border-top: 1px solid #AAAAAA;
  border-bottom: 0px solid #FFFFFF;
  border-left: 1px solid #AAAAAA;
  background-color: #FFFFFF;
}
.historyDataContinueOperation {
  font-size: 90%;
  padding: 1px 5px 1px 5px;
  vertical-align: top;
  border-top: 0px solid #FFFFFF;
  border-bottom: 0px solid #FFFFFF;
  border-left: 1px solid #AAAAAA;
  background-color: #FFFFFF;
}
.historyDataClosetable, .noteDataClosetable, .attachementDataClosetable  {
  font-size: 1pt;
  padding: 0px 0px 0px 0px;
  border-top: 1px solid #AAAAAA;
  border-bottom: 0px solid #FFFFFF;
  border-left: 0px solid #FFFFFF;
  border-right: 0px solid #FFFFFF;
}

 /* =============================================================================== */
/* SPECIFIC WHITE THEME                                                            */
/* =============================================================================== */

 html,  body,  #mainDiv,  #contentDiv,  #centerDiv,  #detailDiv,  .display {
  background-color: #FFFFFF; color: #000000;
}

 .section {
  background-color: #AAAAAA;  color: #000000;  
}

 label {
  background-color: #FFFFFF; color: #55555;
}
 
 .tabLabel {
  background-color: #AAAAAA; 
 }

 .display {
  border: 1px solid #FFFFFF;
}