/* ============================================================================
 * Main css styles for Printing purpose of Projector application.
 * ============================================================================
 */

/* Imports ==================================================================== */

@import "../../external/dojo/resources/dojo.css";
@import "../../external/dijit/themes/dijit.css";
@import "FileInput.css";
@import "common.css";
@import "projectorIcons.css";

/* Main structure objects ===================================================== */

html, body, #mainDiv, 
#toolBarDiv, 
#logoDiv,
#contentDiv,  #listDiv, .container {
  height: 100%; width: 100%; overflow: hidden;
  border: 0; margin: 0px; padding: 0px;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  text-decoration: none;
  text-align: left;
}

/* Specific style for debug purpose============================================ */
html, body { 
   overflow: auto; /* default is hidden, possibly set to auto for debug purpose */
}

/* DIV styles presented as included in pages ================================== */

#toolBarDiv {
  height: 0px;
}

#leftDiv {
  width: 20%;
  overflow: hidden;
}
  #logoDiv {
    height: 50px;
    cursor: pointer;  
  }
    #logoTitleDiv {
      background-image: url(../img/logoTitle.gif); background-repeat: no-repeat;
      position: absolute; top: 0px; left: 0px; width: 300px; height: 50px;
      opacity:0.6;filter:alpha(opacity=60);
      zoom: 80%;
      overflow: hidden;
    }
  #mapDiv { 
    border: 0px; margin: 0px; padding: 2px 0px 0px 5px; 
  }
  #messageDiv {
    overflow: auto;
    height: 30%; padding: 5px;
  }

#centerDiv { /* do not include in global definition : width: 100% brings incorrect display on FireFox and Chrome */
  overflow: hidden;
  border: 0; margin: 0px; padding: 0px;
}
  #listDiv {
    height: 40%;
    overflow: hidden; 
  }
    #listHeaderDiv {
      overflow: hidden; 
     /* height: 27px; */
    }
    .dojoxGridScrollbox, .ganttDiv {
      overflow: auto;
    }
    #gridContainerDiv {
      overflow: hidden;
    }
  #detailDiv {
    border: 0px solid green;
    margin: 0px; padding: 0px;
    overflow: hidden; 
  }
    #buttonDiv, #buttonDivContainer {
      height: 34px; overflow: hidden;
      border: 0px solid red;
      padding: 0px; margin: 0px;
      vertical-align: middle;
      
    }
    #resultDiv {
      background: #fff url(images/buttonEnabled.png) repeat-x bottom left;
      color: #555555; font-weight: bold;
      text-align: center;
      vertical-align: middle;
      margin: 4px 8px 4px 8px; padding: 5px;
      opacity:0.0;filter:alpha(opacity=00);
    }
    #planResultDiv {
      background: #fff url(images/buttonEnabled.png) repeat-x bottom left;
      color: #555555; font-weight: bold;
      text-align: center;
      vertical-align: middle;
      margin: 2px 8px 2px 8px; padding: 5px;
      opacity:0.0;filter:alpha(opacity=00);
      overflow: hidden;
    }
    #formDiv {
      overflow: auto; 
      border: 0px solid red;
      margin: 0px; padding: 5px;
    }
    #detailFormDiv {
      overflow: hidden;
      border: 0; margin: 0px; padding: 0px;
      /* border: 1px solid red; */
    }
    #workDiv {
      overflow: auto;
    }
#statusBarDiv {
  border: 0px; margin: 0px; padding: 1px;
  overflow: hidden;
  height: 20px;
}

#printPreview {
      overflow: hidden; 
      border: 1px solid #555555;
      margin: 0px; padding: 0px;
}

#wait, #waitLogin {
  position: absolute;
  background-image: url(images/spinner04.gif); background-repeat: no-repeat;
  border: 0px solid #555555;
  margin: -25px -25px;
  height: 50px; width: 50px;
  top: 50%; left: 50%; 
  z-index: 999;
  display: block;
  text-align: middle;
  vertical-align: middle;
  opacity:0.5;filter:alpha(opacity=50);
}

#loginResultDiv {
  overflow: auto !important;
  width: 350px;
}
  
.displayHtml {
  margin: 1px;
  font-family: Verdana, Arial, Tahoma, sans-serif;
  font-size: 100%;
  padding: 1px;
  background: #fff url(images/validationInputBg.gif) repeat-x top left;
  border: 1px solid #b3b3b3;
  line-height: normal; 
}
/* Specific attributes on common nodes ======================================== */

table {
  border-collapse: collapse; border: 0px; 
  /* border: 1px solid red; padding: 1px !important; margin: 1px !important; /* for debug purpose */
}

tr {
  /* border: 1px solid green; padding: 0px !important; margin: 0px !important; /* for debug purpose */
}

td {
  margin: 0; padding: 0; cellspacing: 0; cellpadding: 0;
  border: collapse; border: 0px;
  /* border: 1px solid yellow; padding: 0px !important; margin: 0px !important;/* for debug purpose */
}

a {
 text-decoration: none; 
}

label, .label {
  font-weight: bold;
  text-align: right; vertical-align: top;
  width: 150px;
  padding: 2px 1px 0px 0px;
  float:left;
  border: 2px;
}

.shortlabel {
  width: 87px;
}

/* Specific classes =========================================================== */

.title {
    font-size: 12pt; 
    font-weight: bold;
}

.titleProject {
    font-size: 10pt; 
    font-weight: bold;
    color: #FFFFFF;
    vertical-align: top;
    padding: 5px 2px 0px 0px;
}

.input {
  font-weight: normal;
  color: #000;
  width: 400px;
  margin: 1px; padding: 0px;
  border: 1px solid #b3b3b3;
  line-height: normal;
}

.display {
  background-image: url(images/noimage.png);
  background-repeat: no-repeat;
  font-weight: normal;
  color: #000;
  text-align: left;
  width: 400px;
  margin: 1px; padding: 0px; 
  cursor: default !important;
}
.displayTransparent {
  background-image: url(images/noimage.png);
  background-repeat: no-repeat;
  font-weight: normal;
  color: #000;
  background-color: transparent;
  background: none;
  border: 0px;
  text-align: right;
  width: 400px;
  margin: 1px; padding: 0px; 
  cursor: default !important;
}

.detail {
  width: 1px;
  height: 1px;
}

.menuTree {
  background-image: url(images/noimage.png);
  background-repeat: no-repeat;
  font-weight: normal;
  color: #000;
  text-align: left;
  width: 400px;
  margin: 1px; padding: 0px; 
  border: 0px;
  cursor: pointer !important;
}
.menuTree:hover {
  background-color: #EEEEEE !important ;

}

.tabLabel {
  font-weight: bold;
  text-align: center;
  border: none; padding: 0px; spacing: 0px;
  width: 90px;
}

.messageOK {
  color : green; 
}

.messageERROR {
  color : red;
  font-weight: bold; 
}

.messageNO_CHANGE {
  color : grey; 
}

.colorSelector {
  background-image: url(images/colorSelector.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
}

.colorDisplay {
  background-image: url(images/noimage.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
}

.checkBox {
  background-image: url(images/checkmark.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0px;
  margin: 0 2px 0 0;
  padding: 0;
}

.dijitReset, .dijitRight, .dijitInline, .dijitReset, .dijitInline, .dijitButtonNode {
  cursor: pointer; 
}

.filterField {
  color: #555555;
  
}

.selectList {
    border:1px solid #AAAAAA;
    padding:2px 5px 2px 5px; 
    cursor:pointer;
    height:200px; 
    width:400px;
    font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
}

.crossTable {
  border: 0px solid black;
}
.crossTableHeader {
 border: 0px solid blue;
 witdh: 100px;
 text-align: center;
}
.crossTableLine {
  border: 0px solid red;
  text-align: right;
  height: 30px;
}
.crossTablePivot {
  border: 0px solid green;
  text-align: center;
}

.section {
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 1px;
}

.historyHeader, .noteHeader, .attachementHeader, .messageHeader, .linkHeader, .assignHeader, 
.dependencyHeader, .workflowHeader, .filterHeader {
  border: 1px solid #AAAAAA;
  text-align: center;
  font-weight: bold;
  background: #DDDDDD;
}
.workflowHeader {
  font-size: 90%;
}
.largeReportHeader {
  border: 1px solid #AAAAAA;
  text-align: center;
  font-weight: bold;
  background: #DDDDDD;
  font-size: 80%;
  margin: 0; padding: 0; spacing: 0;
}
.largeReportData {
  border: 1px solid #AAAAAA;
  font-weight: normal;
  background: #FFFFFF;
  font-size: 80%;
  margin: 0; padding: 0; spacing: 0;
  vertical-align: top;
}
.largeReportDataDone {
  border: 1px solid #AAAAAA;
  font-weight: normal;
  background: #E0E0E0;
  color: #505050;
  font-size: 80%;
  margin: 0; padding: 0; spacing: 0;
  vertical-align: top;
}
.reportHeader {
  border: 0px solid #AAAAAA;
  text-align: center;
  font-weight: bold;
  background: #DDDDDD;
}
.reportTableHeader {
  border: 1px solid #FFFFFF;
  text-align: center;
  font-weight: bold;
  padding: 3px 5px 3px 5px;
  background: #AAAAAA;
  color: #FFFFFF;
}
.reportTableColumnHeader {
  border: 1px solid #AAAAAA;
  text-align: center;
  padding: 1px 3px 1px 3px;
  background: #DDDDDD;
}
.reportTableLineHeader {
  border: 1px solid #AAAAAA;
  padding: 0px 3px 0px 3px;
  background: #DDDDDD;
}
.reportTableData {
  border: 1px solid #AAAAAA;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  padding: 0px 1px 0px 1px;
  background: #FFFFFF;
}
.reportTableDataFull {
  border: 1px solid #AAAAAA;
  text-align: left;
  vertival-align: middle;
  font-weight: normal;
  padding: 0px 0px 0px 0px;
  background: #FFFFFF;
  width: 20px; height: 20px;
}
.reportTableDataCenter{
  text-align: center;
}


.historyData, .noteData, .attachementData, .messageData, .messageDataValue, .linkData, .assignData, 
.dependencyData, .workflowData, .filterData, .messageDataValueGrey {
  font-size: 90%;
  padding: 1px 5px 1px 5px;
  border: 1px solid #AAAAAA;
  vertical-align: top;
  background-color: #FFFFFF;
}
.messageDataValueGrey {
  background-color: #EEEEEE;
  color: #505050;
}

.workflowData {
  font-size: 80%;
}
.workflowDetail {
  border-top: 1px solid #D0D0D0; 
}

.messageDataValue {
  text-align: center;  
}

.historyDataNewOperation {
  font-size: 90%;
  padding: 1px 5px 1px 5px;
  vertical-align: top;
  border-top: 1px solid #AAAAAA;
  border-bottom: 0px solid #FFFFFF;
  border-left: 1px solid #AAAAAA;
  background-color: #FFFFFF;
}
.historyDataContinueOperation {
  font-size: 90%;
  padding: 1px 5px 1px 5px;
  vertical-align: top;
  border-top: 0px solid #FFFFFF;
  border-bottom: 0px solid #FFFFFF;
  border-left: 1px solid #AAAAAA;
  background-color: #FFFFFF;
}
.historyDataClosetable, .noteDataClosetable , .attachementDataClosetable, .linkDataCloseTable, .assignDataCloseTable {
  font-size: 1pt;
  padding: 0px 0px 0px 0px;
  border-top: 1px solid #AAAAAA;
  border-bottom: 0px solid #FFFFFF;
  border-left: 0px solid #FFFFFF;
  border-right: 0px solid #FFFFFF;
}
.halfLine {
  font-size: 4pt;
  padding: 0px;
  border-top: 0px;
}

.smallButton {
  height: 12px; width: 12px;
  cursor: pointer !important;
}

.iconPlan {
  background-image: url(images/iconPlan.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 16px;
  text-align: center;
  cursor: pointer;
}

.gridRowCount, .gridRowCountShadow1, .gridRowCountShadow2 {
  font-weight: bold; 
  font-size: 15pt;
  position:absolute; 
}
.gridRowCount {
  color: #CECECE; 
  left: 8px; top: 4px;
}

.gridRowCountShadow1 {
  color: #FFFFFF; 
  left: 7px; top: 3px;
}
.gridRowCountShadow2 {
  color: #000000; 
  left: 9px; top: 5px;
}

.legend {
 padding: 0px 0px 0px 5px; 
}

.displayButton {
  background-image: url(images/display.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
  cursor: pointer;
}
.ganttTaskgroup:Hover, .ganttTaskrow:hover, .ganttTaskmile:Hover, .ganttRowHover {
  background-color: #ffffaa;
}
/* =============================================================================== */
/* SPECIFIC BLUE THEME                                                             */
/* =============================================================================== */

.blue html, .blue body, .blue #leftDiv, .blue #logoDiv,
.blue #buttonDiv,
.blue .dijitSplitterH, .blue .dijitGutterH, .blue .dijitSplitterV, .blue .dijitGutterV,
.blue .dijitMenuItemHover,
.blue .dijitMenuPassive .dijitMenuItemHover,
.blue .dijitMenuItemSelected   {
  background-color: #53539B;
}

.blue #mapDiv, .blue #messageDiv, .blue #listDiv, .blue #detailDiv, .blue #formDiv, .blue .display, .blue .background,
.blue #printPreview, .blue .dijitTitlePaneContentInner, 
.blue #mainDiv,  .blue #contentDiv, .blue #centerDiv {
  background-color: #C3C3EB;
}

.blue #toolBarDiv, .blue #statusBarDiv, .blue .statusBar, .blue .dojoxGridRowSelected, 
.blue .section, .blue .dijitTitlePane .dijitTitlePaneTitle, .blue .title {
  background-color: #53539B;  color: #EEEEEE;  
}

.blue .tabLabel, .blue label, .blue .dojoxGridRowOver .dojoxGridCell {
  background-color: #C3C3EB; color: #53539B;
}

.blue .display, .blue #printPreview {
  border: 1px solid #C3C3EB;
}

.blue #mainDiv {
    scrollbar-face-color: #C3C3EB;
    scrollbar-shadow-color: #C3C3EB;
    scrollbar-highlight-color: #C3C3EB;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #C3C3EB;
    scrollbar-arrow-color: #53539B;
}

/* =============================================================================== */
/* SPECIFIC RED THEME                                                              */
/* =============================================================================== */

.red html, .red body, .red #leftDiv, .red #logoDiv,
.red #buttonDiv,
.red .dijitSplitterH, .red .dijitGutterH, .red .dijitSplitterV, .red .dijitGutterV,
.red .dijitMenuItemHover,
.red .dijitMenuPassive .dijitMenuItemHover,
.red .dijitMenuItemSelected   {
  background-color: #9B5353;
}

.red #mapDiv, .red #messageDiv, .red #listDiv, .red #detailDiv, .red #formDiv, .red .display, .red .background,
.red #printPreview, .red .dijitTitlePaneContentInner,
.red #mainDiv, .red #contentDiv, .red #centerDiv {
  background-color: #EBC3C3;
}

.red #toolBarDiv, .red #statusBarDiv, .red .statusBar, .red .dojoxGridRowSelected, 
.red .section, .red .dijitTitlePane .dijitTitlePaneTitle, .red .title {
  background-color: #9B5353;  color: #FFFFFF;   
}

.red .tabLabel, .red label, .red .dojoxGridRowOver .dojoxGridCell {
  background-color: #EBC3C3; color: #9B5353;
}

.red .display, .red #printPreview {
  border: 1px solid #EBC3C3;
}

.red #mainDiv {
    scrollbar-face-color: #EBC3C3;
    scrollbar-shadow-color: #EBC3C3;
    scrollbar-highlight-color: #EBC3C3;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #EBC3C3;
    scrollbar-arrow-color: #9B5353;
}

/* =============================================================================== */
/* SPECIFIC GREEN THEME                                                            */
/* =============================================================================== */
.green html, .green body, .green #leftDiv, .green #logoDiv,
.green #buttonDiv,
.green .dijitSplitterH, .green .dijitGutterH, .green .dijitSplitterV, .green .dijitGutterV,
.green .dijitMenuItemHover,
.green .dijitMenuPassive .dijitMenuItemHover,
.green .dijitMenuItemSelected   {
  background-color: #539B53;
}

.green #mapDiv, .green #messageDiv, .green #listDiv, .green #detailDiv, .green #formDiv, .green .display, .green .background,
.green #printPreview, .green .dijitTitlePaneContentInner, 
.green #mainDiv,  .green #contentDiv, .green #centerDiv {
  background-color: #C3EBC3;
}

.green #toolBarDiv, .green #statusBarDiv, .green .statusBar, .green .dojoxGridRowSelected, 
.green .section, .green .dijitTitlePane .dijitTitlePaneTitle, .green .title {
  background-color: #539B53;  color: #EEEEEE;  
}

.green .tabLabel, .green label, .green .dojoxGridRowOver .dojoxGridCell {
  background-color: #C3EBC3; color: #539B53;
}

.green .display, .green #printPreview {
  border: 1px solid #C3EBC3;
}

.green #mainDiv {
    scrollbar-face-color: #C3EBC3;
    scrollbar-shadow-color: #C3EBC3;
    scrollbar-highlight-color: #C3EBC3;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #C3EBC3;
    scrollbar-arrow-color: #539B53;
}

/* =============================================================================== */
/* SPECIFIC GREY THEME                                                             */
/* =============================================================================== */

.grey html, .grey body, .grey #leftDiv, .grey #logoDiv,
.grey #buttonDiv,
.grey .dijitSplitterH, .grey .dijitGutterH, .grey .dijitSplitterV, .grey .dijitGutterV,
.grey .dijitMenuItemHover,
.grey .dijitMenuPassive .dijitMenuItemHover,
.grey .dijitMenuItemSelected   {
  background-color: #9B9B9B;
}

.grey #mapDiv, .grey #messageDiv, .grey #listDiv, .grey #detailDiv, .grey #formDiv, .grey .display, .grey .background,
.grey #printPreview, .grey .dijitTitlePaneContentInner, 
.grey #mainDiv,  .grey #contentDiv, .grey #centerDiv {
  background-color: #C3C3C3;
}

.grey #toolBarDiv, .grey #statusBarDiv, .grey .statusBar, .grey .dojoxGridRowSelected, 
.grey .section, .grey .dijitTitlePane .dijitTitlePaneTitle, .grey .title {
  background-color: #9B9B9B;  color: #FFFFFF;  
}

.grey .tabLabel, .grey label, .grey .dojoxGridRowOver .dojoxGridCell {
  background-color: #C3C3C3; color: #535353;
}

.grey .display, .grey #printPreview {
  border: 1px solid #C3C3C3;
}

.grey #mainDiv {
    scrollbar-face-color: #C3C3C3;
    scrollbar-shadow-color: #C3C3C3;
    scrollbar-highlight-color: #C3C3C3;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #C3C3C3;
    scrollbar-arrow-color: #535353;
}

/* =============================================================================== */
/* SPECIFIC ORANGE THEME                                                           */
/* =============================================================================== */

.orange html, .orange body, .orange #leftDiv, .orange #logoDiv,
.orange #buttonDiv,
.orange .dijitSplitterH, .orange .dijitGutterH, .orange .dijitSplitterV, .orange .dijitGutterV,
.orange .dijitMenuItemHover,
.orange .dijitMenuPassive .dijitMenuItemHover,
.orange .dijitMenuItemSelected   {
  background-color: #D98F0E;
}

.orange #mapDiv, .orange #messageDiv, .orange #listDiv, .orange #detailDiv, .orange #formDiv, .orange .display, .orange .background,
.orange #printPreview, .orange .dijitTitlePaneContentInner, 
.orange #mainDiv,  .orange #contentDiv, .orange #centerDiv {
  background-color: #F6C672;
}

.orange #toolBarDiv, .orange #statusBarDiv, .orange .statusBar, .orange .dojoxGridRowSelected, 
.orange .section, .orange .dijitTitlePane .dijitTitlePaneTitle, .orange .title {
  background-color: #D98F0E;  color: #FFFFFF;  
}

.orange .tabLabel, .orange label, .orange .dojoxGridRowOver .dojoxGridCell {
  background-color: #F6C672; color: #D98F0E;
}

.orange .display, .orange #printPreview {
  border: 1px solid #F6C672;
}

.orange #mainDiv {
    scrollbar-face-color: #F6C672;
    scrollbar-shadow-color: #F6C672;
    scrollbar-highlight-color: #F6C672;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #F6C672;
    scrollbar-arrow-color: #D98F0E;
}

/* =============================================================================== */
/* SPECIFIC WHITE THEME                                                            */
/* =============================================================================== */

.white html, .white body, .white #leftDiv,
.white .dijitSplitterH, .white .dijitGutterH , .white .dijitSplitterV, .white .dijitGutterV,
.white .dijitMenuItemHover,
.white .dijitMenuPassive .dijitMenuItemHover,
.white .dijitMenuItemSelected  {
  background-color: #999999;
}

.white #mapDiv, .white #messageDiv, .white #listDiv, .white #detailDiv, .white #formDiv, .white .display, .white #logoDiv,
.white #buttonDiv, .white #mainDiv, .white #contentDiv, .white #centerDiv {
  background-color: #FFFFFF;
}

.white #toolBarDiv, .white #statusBarDiv, .white .statusBar, .white .dojoxGridRowSelected, 
.white .section, .white .dijitTitlePane .dijitTitlePaneTitle, .white .title {
  background-color: #999999;  color: #FFFFFF;  
}

.white .tabLabel, .white label,
.white #printPreview, .white .dijitTitlePaneContentInner  {
  background-color: #FFFFFF; color: #999999;
}

.white .dojoxGridRowOver .dojoxGridCell {
    background-color: #DDDDDD; color: #999999;
}
.white .display, .white #printPreview {
  border: 1px solid #FFFFFF;
}

.white #mainDiv {
    scrollbar-face-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #CCCCCC;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #999999;
}
